@font-face {
    font-family: "noto sans";
    src: url("./../../FontFiles/NotoSansNKo-Regular.ttf");
}

.container{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.currentTemp{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(0, 0, 75);
    width: 300px;
    border-radius: 20px;
    align-self: center;
}

.allHoursTemperature{
    align-self: center;
    width: 400px;
    border: 1px solid rgb(0, 0, 75);
    border-radius: 20px;
    padding: 10px;
}

.mapContainer{
    padding: 10px;
    border: 1px solid;
    border-radius: 20px;
    width: 400px;
    align-self: center;
}

.otherWeatherData{
    align-self: center;
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 20px;
}