body{
    margin: 0px;
    font-family: "noto sans";
    background-image: url("./images/whole world background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}